<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
   <link rel="stylesheet" href="register.css">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" >
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
   
</head>
<body>
 
  <div id="wrapper">
    <div id="form-login">

      <h1 class="form-h1">form đăng kí</h1>

      <div class="form-group">
        <i class="fas fa-key"></i>
        <input type="email" class="input"  id="email"placeholder="email">
      </div>
      <div class="form-group">
        <i class="fas fa-key"></i>
        <input type="password" class="input"  id="password"placeholder="nhập mật khẩu">
      </div>
      <div class="form-group">
        <i class="fas fa-key"></i>
        <input type="password" class="input"  id="confirn-password"placeholder="nhập  lại mật khẩu">
      </div>

      <div>
       
        <button id="registerBtn"> Click Me</button>
      </div>
    </div>  
     
    </div>
  </div>
  <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>

  <script src="singup.js"></script>
</body>
</html>