<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="login.css">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
   
</head>
<body>
 
  <div id="wrapper">
    <div id="form-login">
      <h1 class="form-h1">form đăng nhập</h1>
      <div class="form-group">  
        <i class="fas fa-key"></i>
        <input type="email" class="input"  id="email"placeholder="email">
      </div>  
      <div class="form-group">
        <i class="fas fa-key"></i>
        <input type="password" class="input"  id="password"placeholder="nhập mật khẩu">
      </div>
     
      <a href="" id="form-a">login</a>
      <button id="loginBtn" > Click Me</button>
      <h1 id="pop">df</h1>
    </div>
  </div>
  <script type="module">
    import jsonServer from 'https://cdn.jsdelivr.net/npm/json-server@1.0.0-beta.3/+esm'
    </script>
     <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
    <script src="/login.js"></script>

 
</body>
</html>