<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>K.phimm</title>
    <meta name="description" content="k.phim nơi mọi người hoà mình vào điện ảnh, tìm ra mọi thứ trên cuộc dời ở đây k.phim nhé">
    <link rel="stylesheet" href="home.css">
    <link rel="stylesheet" href="/views/home/responsive.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" >
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap" rel="stylesheet">
    <style>
       
    </style>
</head>
<body>
    <header id="header">
        <div class="menu">
            <div class="logo">
               <img src="/ass/img/K.jpg" alt="">
              </div>
            <div class="menu3">
              <ul>
                <li><a href="../theloai/tl.html?type=1">Anime</a></li>
                <li><a href="../theloai/tl.html?type=2">Hành động</a></li>
                <li><a href="../theloai/tl.html?type=3">Tình cảm</a></li>
                <li><a href="../theloai/tl.html?type=4">Kinh dị</a></li>
              </ul>
            </div>
           <div class="menu2">
           
            <div  id="home">
                <a href="home.html"> <i style="font-size:22px; color:#f4efef;"  class="fa-solid fa-house"></i></a>
             </div>
              <div id="timkiem">
                <a href="/views/tk/tk.html"> <i style="font-size: 21px;color: #f4efef;"  class="fa-solid fa-magnifying-glass"></i></a>
              </div>
              <div id="message" >
              <i style="margin-right: 15px;font-size: 21px;color:#f4efef;" onclick=" message()" class="fa-solid fa-comments"></i>
                
              </div>
              <div id="thongbao">
                <a href="thông báo .html"> <i style="font-size:21px; color:#f4efef;" class="fa-solid fa-bell"></i></a>
             </div>
             
          <div id="login">
             <a href="/views/login/login.html">ĐĂNG NHẬP </a>
          </div>
          <div class="hamburger" onclick="toggleMobileMenu()">
            ☰
        </div>
    </div>
</div>

<!-- Menu mobile -->
<div class="mobile-menu" id="mobileMenu">
    <a href="../theloai/tl.html?type=1">Anime</a>
    <a href="../theloai/tl.html?type=2">Hành động</a>
    <a href="../theloai/tl.html?type=3">Tình cảm</a>
    <a href="../theloai/tl.html?type=4">Kinh dị</a>
</div>
       </div>
    </header>
    
    <div>
        <div class="slider-container">
            <div class="slider">
                <div class="slide active"><img src="/ass/img/back chính.webp" alt="Slide 1"></div>
                <div class="slide"><img src="/ass/img/bacc5.webp" alt="Slide 2"></div>
                <div class="slide"><img src="/ass/img/backcc3.webp" alt="Slide 3"></div>
                <div class="slide"><img src="/ass/img/backcc4.webp" alt="Slide 3"></div>
            </div>
            <div class="slider-caption">Xem ngay - và luôn</div>
        </div>

        <div id="between">
           
            <div class="between-back1"> 
                <h2 class="between-h2"><a href="../theloai/tl.html?type=1" style="color: white;">Anime</a></h2>
            </div>
            <div class="between-back2">
                <h2 class="between-h2"><a href="../theloai/tl.html?type=2" style="color: white;">Hành động</a></h2>
            </div>
            <div class="between-back3">
                <h2 class="between-h2"><a href="../theloai/tl.html?type=3" style="color: white;">Tình cảm</a></h2>
            </div>
            <div class="between-back4">
                <h2 class="between-h2"><a href="../theloai/tl.html?type=4" style="color: white;">Kinh dị</a></h2>
            </div>
        </div>
        <div class="vietnam">
            <div id="imgvn"><img src="/ass/img/50y.webp" alt=""></div>
            <div class="film-slide">
                <div class="film-item">
                    <img src="/ass/img/banner12.webp" alt="Biệt Động Sài Gòn">
                    <div class="film-info">
                        <h3>Vào Nam Ra Bắc</h3>
                        <a href="" class="btn-watch"><i class="fa-solid fa-play"></i> Xem phim</a>
                    </div>
                </div>
                <div class="film-item">
                    <img src="/ass/img/bn23.webp" alt="Biệt Động Sài Gòn">
                    <div class="film-info">
                        <h3>Những Người Viết Huyền Thoại</h3>
                        <a href="https://www.rophim.me/phim/nhung-nguoi-viet-huyen-thoai.fuMZpx5x" class="btn-watch"><i class="fa-solid fa-play"></i> Xem phim</a>
                    </div>
                </div>
                <div class="film-item">
                    <img src="/ass/img/bn24.webp" alt="Biệt Động Sài Gòn">
                    <div class="film-info">
                        <h3>Giải Phóng Sài Gòn</h3>
                        <a href="https://www.rophim.me/phim/giai-phong-sai-gon.pmOYHWKY" class="btn-watch"><i class="fa-solid fa-play"></i> Xem phim</a>
                    </div>
                </div>
                <div class="film-item">
                    <img src="/ass/img/bn25.webp" alt="Biệt Động Sài Gòn">
                    <div class="film-info">
                        <h3>Đào, Phở và Piano</h3>
                        <a href="https://www.rophim.me/xem-phim/dao-pho-va-piano.S621dsLk?ver=1" class="btn-watch"><i class="fa-solid fa-play"></i> Xem phim</a>
                    </div>
                </div>
            </div>
       </div>
       
    <div class="product">
        <div class="trending-title" style="padding: 10px 30px;">Hiện đang thịnh hành</div>
        <div class="product-grid">
            
         
        </div>
    </div>
      
        <div id="film-container">
        
        </div>   

    </div>
  
    <button id="scrollToTopBtn" class="scroll-to-top">
        ⬆<br>ĐẦU<br>TRANG
      </button>
      
      <div id="fb-root"></div>
<script async defer crossorigin="anonymous"
  src="https://connect.facebook.net/vi_VN/sdk/xfbml.customerchat.js"></script>

<div class="fb-customerchat"
  attribution="setup_tool"
  page_id="YOUR_PAGE_ID"
  theme_color="#0084ff"
  logged_in_greeting="Xin chào! Bạn cần hỗ trợ gì?"
  logged_out_greeting="Xin chào! Bạn cần hỗ trợ gì?">
</div>
    <audio id="mp3" src="/ass/img/mp3.mp" autoplay muted loop></audio>
    
    <footer>
        <div class="wrapper">
          
            <div class="footer-sections">
                <div class="footer-column">
                    <div  class="logo">
                        <img src="/ass/img/K.jpg" alt="KD.mov">
                    </div>
                    <ul>
                        <li>Giới thiệu</li>
                        <li>Các gói dịch vụ</li>
                        <li>Liên hệ</li>
                        <li>Trung tâm hỗ trợ</li>
                        <li>Thông tin</li>
                    </ul>
                </div>
                <div class="footer-column">
                    <h2>DỊCH VỤ</h2>
                    <ul>
                        <li>Gói phim</li>
                        <li>Quảng cáo</li>
                        <li>Mua gói</li>
                        <li>Bảo hành</li>
                    </ul>
                </div>
                <div class="footer-column">
                    <h2>QUY ĐỊNH</h2>
                    <ul>
                        <li>Điều khoản sử dụng</li>
                        <li>Chính sách thanh toán</li>
                        <li>Chính sách bảo mật</li>
                    </ul>
                </div>
                <div class="support-info">
                    <H2> LIÊN HỆ SHOP</H2>
                    <p>📞0857602508</p>
                    <p>📧 leduy250800@gmail.com</p>
                    <p>Theo dõi chúng tôi:</p>
                    <div class="social-links">
                        <i class="fa-brands fa-facebook"></i>
                        <i class="fa-brands fa-youtube"></i>
                    </div>
                </div>
            </div>
            <div class="company-details">
                <p>phim hay KD.mov</p>
                <p>Giấy chứng nhận đăng ký doanh nghiệp...</p>
            </div>
        </div>
    </footer>
<Script src="/login.js"></Script>
<script src="home.js"></script>


</body>
</body>
</html>